.GQR{
    background-color: aliceblue;
    width: 60%;
    margin: auto;
    border-radius: 20px;
}

.GQR_head{
    font-size: 64px;
    font-weight: bold;
    font-family: "Source Sans 3", Helvetica, Arial, sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
}

.GQR_Intro{
    max-width: 720px;
    font-size: 22px;
    margin: auto;
    padding-bottom: 15px;
}

.gqrContainerLeftPart{
    text-align: center;
    margin: auto;
}

.link_input{
    width: 400px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid gray;

}

.generate_btn{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.GQR_container{
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
}


.gqrContainerRightPart{
    width: 250px;
    border-left: 1px solid gray;
    text-align: right;
    margin: auto;
}

.qr_preview{
    padding: 20px;
    border: 2px solid #d9d9db;
    border-radius: 5px;
}

.download_btn{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    
}